<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
  <meta name="apple-mobile-web-app-title" content="CodePen">
  <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
  <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
  



<meta name="theme-color" content="#dd5d59">
<link rel="icon" type="image/png" href="icons/icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="icons/icon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" sizes="32x32" href="icons/icon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="icons/icon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="theme-color" content="#EE7370">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Money WOW">
<link rel="apple-touch-icon" href="icons/icon-152x152.png">
<meta name="msapplication-TileImage" content="icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#EE7370"></head>







    <title>Money WoW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
    
    <link rel="stylesheet" href="style.css">

  
  </head>
  
  <body translate="no">
    <template data-template="calculatorbutton">
    <div class="Calculator-button" v-bind:class="className">
      <span v-bind:class="['btest', button.icon ? button.icon : '']" v-if="button.children == null" v-text="button.text" @click.stop="emitAction($event, button)"></span>
      <span v-for="childButton in button.children" v-bind:class="[childButton.className || ' btest ', 'btest']" v-text="childButton.text" @click.stop="emitAction($event, childButton)"></span></div>
  </template>
  <div class="App js-app" style="opacity: 1;">
    <div class="Calculator">
      <header class="TotalHeader">
        <div class="EntryListContainer">
          <span class="EntryList">History</span>
        </div> 
        <div class="TotalContainer">
          <span class="CurrentTotal" style="font-size: 60px; font-weight: 200;">$0</span>
        </div>
      </header> 
      <div class="Calculator-body">
        <div class="Calculator-buttonsContainer">
         
          <div class="Calculator-button">
            <span class="btest">7</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">8</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">9</span>
          </div>
          <div class="MonthlyTotalLine">
            <span class="btest">A</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">4</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">5</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">6</span>
          </div>
          <div class="MonthlyTotalLine">
            <span class="btest">D</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">1</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">2</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">3</span>
          </div>
          <div class="MonthlyTotalLine">
            <span class="btest">D</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">0</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">C</span>
          </div>
          <div class="Calculator-button">
            <span class="btest">ADD</span>
          </div>
        </div>
      </div> 
    <div class="MonthlyTotal">
      <div class="MonthlyTotalLine">$0.00</div> 
    </div>
  </div>
</div>
  

  <script src="code.js">  </script>

  
  <!--
  <footer>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></footer>
   -->
  </body></html>